@model WebBanHangLapTop.Models.Product

<h2>Name:@Model.Name</h2>
<div>
	<h3>Price: @Model.Price</h3>
	<h4>Description:@Model.Description</h4>
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<h1>Ảnh chính</h1>
		<img src="@Model.ImageUrl" alt="Product Image" style="max-width:
	200px;" />
	}
     <h1>List ảnh</h1>
		@foreach (var item in ViewBag.images)
		{
			<img src="@item.Url" alt="Product Image" style="max-width:
		200px; height:300px;" class="mx-3" />
		}	
</div>
<a class="btn btn-primary mt-2" asp-action="Index">Back to List</a>