@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>@ViewData["Title"]</h1>

<div class="row registration-section-container11 align-content-center">
        <section>
            <form id="account" method="post">
                <h4>Existing Customers</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <p>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-warning">Log in</button>
                    </p>
                    
                </div>
                <div>
                    <p>
                    <a id="forgot-password"asp-page="./ForgotPassword" class="w-100 btn btn-lg btn-outline-warning">Forgotten your password?</a>
                    </p>
                    <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="w-100 btn btn-lg btn-outline-warning">Register for an account</a>
                    </p>              
                </div>
            </form>
        </section>
    </div>  
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .registration-section-container {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        max-width: 400px; 
        margin: auto;
    }

    .registration-section {
        text-align: center;
    }

        .registration-section h3 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .registration-section h5 {
            color: #666;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .registration-section button {
            font-size: 18px;
        }

    .registration-section-container11 {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9; 
        max-width: 400px;
        margin: auto;
    }
    
    h1 {
		text-align: center;
	}
	

    body {
        background-color: bisque; 
    }
</style>