@model IEnumerable<WebBanHangLapTop.Models.Brand>
@{
    Layout = "AdminLayout";
}
<h2>Category</h2>
<a class="btn btn-success" href="/admin/AdminBrand/Add">Add</a>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.BrandName</td>
                <td>
                    <a class="btn btn-primary" href="/admin/AdminBrand/Edit/@item.Id">Update</a>
                    <a class="btn btn-danger" href="/admin/AdminBrand/Delete/@item.Id">Delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>

